AddDefaultCharset utf-8
DefaultLanguage es-ES

#Options 
RewriteEngine on
RewriteBase /
Options -MultiViews

ErrorDocument 404 /areafor-api/index.php?route=not_found
ErrorDocument 500 /areafor-api/index.php?route=server_error

DirectoryIndex /areafor-api/index.php?route=home [L]
RewriteRule home$ /areafor-api/index.php?route=home [L]

RewriteRule alumnos$ /areafor-api/index.php?route=alumnos [L]
RewriteRule alumnos/(\d+)$ /areafor-api/index.php?id=$1&route=alumnos [L]
RewriteRule tutores$ /areafor-api/index.php?route=tutores [L]
