AddDefaultCharset utf-8
DefaultLanguage es-ES

#Options 
RewriteEngine on
RewriteBase /
Options -MultiViews

DirectoryIndex /areafor-api/index.php?route=home [L]
RewriteRule home$ /areafor-api/index.php?route=home [L]

RewriteRule students$ /areafor-api/index.php?route=students [L]
RewriteRule teachers$ /areafor-api/index.php?route=teachers [L]